<header>

<div>
    <nav>
        <ul class="nav-links">
            <!-- path inside of file app.routes.ts -->

            <!-- with href rechargue all page when push a link -->
          <!--   <li><a href="">Home</a></li>
            <li><a href="portafolio">Portfolio</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="aboutUs">About Us</a></li> -->

            <!-- with routerLink only rechargue the content of the path -->
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="portafolio">Portfolio</a></li>
            <li><a routerLink="services">Services</a></li>
            <li><a routerLink="aboutUs">About Us</a></li>
            <li><a routerLink="clientes">Ver CLientes</a></li>


        </ul>
    </nav>
</div>


<div>  
    <h1 class="animate__animated animate__bounce">IOTHIX BIONNIX ELECTRONICS</h1>

    <img class="center" src="./assets/images/logo.jpg" alt="Logo"  />
</div>
   

</header>



